<template lang="pug">
client-only(placeholder='Loading...' )
  LMap(ref="leafletMap"
      id="leaflet-map"
      :style="{ 'height': height }"
      :zoom="zoom"
      :options="{attributionControl: false}")
    LControlAttribution(position='bottomright' prefix="")
    LTileLayer(
        @tileload="$emit('tileload')"
        @tileerror="$emit('tileerror')"
        :url="url"
        :attribution="attribution")
    LMarker(
      v-for="(marker) in markers"
      :key="marker.id"
      :lat-lng="marker.coordinates")
      LPopup(:content="marker.title")
</template>
<script>

import "leaflet/dist/leaflet.css"
import { LMap, LTileLayer, LMarker, LPopup, LControlAttribution } from 'vue2-leaflet'
import { Icon } from 'leaflet'

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LControlAttribution
  },
  data ({ $store }) {
    return {
      url: $store.state.settings.tilelayer_provider || 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: $store.state.settings.tilelayer_provider_attribution || "<a target=\"_blank\" href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors",
    }
  },
  computed: {
    markers: function() {
      const places =
        this.events.filter(event => {
          return (event.place.latitude && event.place.longitude);
        }).map(event => {
          return {
            id: event.id,
            title: event.title,
            coordinates: {lat: event.place.latitude, lon: event.place.longitude },
          }
        });

      return places;
    }
  },
  props: {
    events: { type: Array, default: () => ([]) },
    height: { type: String, default: '' },
    zoom: { type: Number, default: () => (16) },
  },
  methods: {
    fitBounds: function() {
      if (!this.markers.length) return;

      this.$refs.leafletMap.mapObject.fitBounds(this.markers.map(x => [x.coordinates.lat, x.coordinates.lon]));
    }
  },
  mounted: function() {
    delete Icon.Default.prototype._getIconUrl;
    Icon.Default.mergeOptions({
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
      iconUrl: require('leaflet/dist/images/marker-icon.png'),
      shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
    });

    setTimeout(() => {
      if (this.$refs.leafletMap && this.$refs.leafletMap.mapObject ) {
        this.$refs.leafletMap.mapObject.invalidateSize();

        this.fitBounds();
      }
    }, 200);
  }
}
</script>

<style>
  #leaflet-map {
    height: 10rem;
    border-radius: .3rem;
    border: 1px solid #fff;
    z-index: 1;
  }
</style>

